<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

<p th:text="'abc'">dummy text hoge</p>
<p th:text="'<b>abc</b>'">dummy text fuga</p>
<p th:utext="'<b>abc</b>'">dummy text piyo</p>

<p th:text="${param.hungry.class}"></p>
<p th:if="${param.hungry.toString()}">I'm hungry.</p>
<p th:unless="${param.hungry.toString()}">I'm sleepy.</p>

<p th:text="${now}">12:34</p>
<p th:text="${cat.name}">Cat's name comes here</p>
<div th:object="${cat}">
	<p th:text="*{name}">name</p>
	<p th:text="*{age}">age</p>
</div>

</body>
</html>